.Aboutcomponent {
    display:flex;
    position: absolute;
    width: 1170.8px;
    height: 550px;
    left: 245px;
    top: 1190px;
}

.Aboutdefination {
    margin:80px;
    font-family:Rubik;
}
.Aboutdefination >h1{
    color:#EE4D47;
   
}
.Aboutdefination >p{
    color:#402B2B;

}
.Aboutdefination > p >h1{
    margin:90px;
    margin-left:70px;
}
.Aboutdefination > p{
    line-height:200%;
}
.strap{
    background: #FCDDD4;
    font-weight:bold;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    left: calc(50% - 570px/2 - 270px);
    top: 1680px;
   width:370px;
   height:140px;
   opacity: 0.4;
   border-left: 5px solid #ED4D47;
}
.strap > p {
    margin :20px;
    padding:10px;
    line-height:200%;
}
.deliveryimg {
    margin:100px;
}
@media (max-width: 700px) {
    .Aboutcomponent {
        display:flex;
        flex-direction:column;
        position: absolute;
        top: 630px;
        width: 700px;
        height: 550px;
        left: 10px;
    }
}