.nav{
display:flex;
justify-content:space-around;
position: fixed;
width: 100%;
}
.nav button {
position: absolute;
font-family:Rubik;
font-size:20px;
right:20px;
width: 158px;
height: 60px;
}
.nav ul li {
  font-family:Rubik;
  right:120px;
  color:#FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  list-style-type:none;
  display:inline;
  cursor:pointer;
  margin:20px;
  font-size:25px;
  }
@media (max-width: 700px) {
  .nav{
    font-size:5px;
    width:600px;
  }
  .nav button {
    position: absolute;
    font-family:Rubik;
    font-size:10px;
    right:10px;
    width: 100px;
    height: 30px;
    }
    .nav ul li {
      margin:10px;
      font-size:15px;
    }
}